.banner-title{
  font-size: 3rem;
  color: #0abde3
}
.banner-info{
  font-size: 2rem;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 576px) {
  .banner-title{
    font-size: 1.8rem;
    
  }
  .banner-info{
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
}