.footer-section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10rem;
  text-align: center;
  background: RGBA(0,0,0,0.80);
  padding: 5rem 0;
  
}
.section1, .section2, .section3{
  margin-bottom: 3rem;
}
.footer-section h3{
  color: #00000B;
  margin: 2rem;
  font-size: 2.5rem
}
.footer-section p{
  color: RGBA(0,0,0,1);
  margin-bottom: 1rem;
  font-size: 1.8rem
}
.footer-social{
  font-size: 3rem;
  display: flex;
  justify-content: center;

}
.facebook, .twitter, .instagram, .youtube{
  margin-left: 1rem;
  transition: .3s ease-in-out;
  cursor: pointer;
  color: #fff
}
.facebook:hover{
  color: RGBA(0,0,255,0.76);
  transform: rotate(360deg)
}
.twitter:hover{
  color: RGBA(0,0,255,0.49);
  transform: rotate(360deg)
}
.instagram:hover{
  color: #3f729b;
  transform: rotate(360deg)
}
.youtube:hover{
   color: red;
   transform: rotate(360deg)
}




@media only screen and (max-width: 992px) {
  .footer-section{
    grid-template-columns: repeat(2, 1fr);
    margin-top: 8rem;
    }
  }

  @media only screen and (max-width: 576px) {
    .footer-section{
      grid-template-columns: repeat(1, 1fr);
      margin-top: 5rem;
  }
}