.blog-title{
  text-align: center;
  font-size: 3.5rem;
  color: RGBA(0,0,0,0.80);
  text-transform: uppercase;
  margin: 5rem 0;
}
.blog-section{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
  padding-bottom: 5rem;
  margin: 3rem 1rem 0 1rem;
}
.blog-section article{
  padding: 1rem;
  box-shadow: 0 0 .5rem #222f3e
}
.blog-section h3{
  font-size: 2rem;
   color: #0abde3;
}
.blog-section h4{
  font-size: 1.8rem;
  color: #ee5253
}
.blog-section p{
  font-size: 1.6rem;
  color: #222f3e
}



/* responsive blog start here  */
@media only screen and (max-width: 992px) {
  .blog-section{
    grid-template-columns: repeat(2, 1fr);
    
  }
  .blog-title{
    font-size: 2.5rem;
  }
  .blog-section h3{
    font-size: 2rem;
  }
}
@media only screen and (max-width: 576px) {
  .blog-section{
    grid-template-columns: repeat(1, 1fr);
    
  }
  .blog-title{
    font-size: 2rem;
    margin: 3rem 0;
  }
}